/* scss variables */

$body-font: sofia-pro, sans-serif;
$body-weight-light: 400;

$body-font-size: 16px;
$body-font-size-large: 16px;
$body-font-size-medium: 16px;
$body-font-size-small: 14px;
$body-font-size-xs: 14px;

// Colors
$body-font-color: #262454;
$color-black: #262454;
$color-white: #ffffff;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-black-light: #e0e0e0;
$color-black-50: rgba(0, 0, 0, 0.5);
$color-gray: #6E6E6E;
$color-gray-light: #F0F0F0;
$color-red: #ff0000;
$brand-primary: #1A5AE2;
$brand-secondary: #43E0FF;

// Transitions
$transitionEffect: cubic-bezier(.6,.04,.12,.96);

$box-shadow: 0 12px 14px -4px #bdbdbd;

// Header
$header-height: 75px;
$header-breakpoint: 1024;


